<div class="signup">
  <div class="panel panel-default">
    <div class="panel-heading">Sign Up</div>
    <div class="panel-body">
      <form action="/signup" method="POST">

        <div class="form-group">
          <label for="usernameInput">Username</label>
          <input type="text" class="form-control" id="username" placeholder="Username" name="username">
        </div>

        <div class="form-group">
          <label for="passwordInput">Password</label>
          <input type="password" class="form-control" id="password" placeholder="Password" name="password">
        </div>

        <div class="form-group">
          <label for="ageInput">Age</label>
          <input type="number" class="form-control" id="age" placeholder="age" name="age" min="12" max="150">
        </div>

        <div class="form-group">
          <label for="weightInput">Weight</label>
          <input type="weight" class="form-control" id="weight" placeholder="weight" name="weight">
        </div>

        <div class="form-group">
          <label for="allergiesInput">Allergies</label><br>
            <input type="checkbox" name="eachAllergy" value="lactoVegetarian">Lacto vegetarian<br>
            <input type="checkbox" name="eachAllergy" value="ovoVegetarian">Ovo vegetarian<br>
            <input type="checkbox" name="eachAllergy" value="paleo">Paleo<br>
            <input type="checkbox" name="eachAllergy" value="pescetarian">Pescetarian<br>
            <input type="checkbox" name="eachAllergy" value="vegan">Vegan<br>
            <input type="checkbox" name="eachAllergy" value="vegetarian">Vegetarian<br>
        </div>

        <div class="form-group">
          <label for="dietInput">Diet</label><br>
            <input type="checkbox" name="eachDiet" value="dairyFree">Dairy-Free<br>
            <input type="checkbox" name="eachDiet" value="eggFree">Egg-Free<br>
            <input type="checkbox" name="eachDiet" value="glutenFree">Gluten-Free<br>
            <input type="checkbox" name="eachDiet" value="peanutFree">Peanut-Free<br>
            <input type="checkbox" name="eachDiet" value="seafoodFree">Seafood-Free<br>
            <input type="checkbox" name="eachDiet" value="sesameFree">Sesame-Free<br>
            <input type="checkbox" name="eachDiet" value="soyFree">Soy-Free<br>
            <input type="checkbox" name="eachDiet" value="sulfiteFree">Sulfite-Free<br>
            <input type="checkbox" name="eachDiet" value="treeNutFree">Tree Nut-Free<br>
            <input type="checkbox" name="eachDiet" value="wheatFree">Wheat-Free<br>
        </div>
        <!-- <% if (typeof(message) != "undefined") { %> -->
          <!-- <div class="alert alert-danger" role="alert"><%= message %></div> -->
        <!-- <% } %> -->
        <% if ( message != "" ) { %>
          <div class="alert alert-danger" role="alert"><%= message %></div>
        <% } %>

        <button type="submit" class="btn btn-primary btn-block">Submit</button>

      </form>
    </div>
  </div>

</div>
