 <div class="container-mio">

    <div class="blue-background">
    <div class="overlay">
    <img class="fondo" src="images/fft-backgroung.jpg" alt="">
    </div>
  <div class="site-information clearfix">
    <div class="welcome-message">
      <div class="header-logo clearfix">
          <h1> Join us! </h1>
      </div>
      <div class="text-container">
        <div class="title box">
            <h3> Discover a new way to find amazing recipes. </h3>
        </div>
           <div class="button-container">
        <div class="center-buttons">
        <div class="btn-form">
            <a href="/signup"><h3> Sign up </h3> </a>
        </div>
        <div class="btn-form">
            <a href="/login"><h3>Log in</h3></a>
        </div>
        </div>
     
    </div>
      </div>

    </div>

     </div>
  
    </div>
    <div class="footer-mio">
        <div class="links">
        <h2 class="separate-words">About Us</h2>
        <h4 class="signature"> &copy; 2016 Patri&Carmen</h4>
        </div>
    </div>
    
  </div>