.overlay {
    position: relative;
    transition: all 1s;
}

.overlay:after {
    content: '\A';
    position: absolute;
    width: 100%; 
    height:100%;
    top:0; 
    left:0;
    background:rgba(0,0,0,0.5);
    opacity: 1;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
   -moz-transition: all 0.5s;
}

.background-darkener{ 
    background: #000;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(0,0,0,0.5);
}

.popup {
display:inherit;
position: fixed;
top: 50%;
left: 50%;
background-color:white;
-webkit-transform: translate(-50%, -50%);
-moz-transform: translate(-50%, -50%);
-ms-transform: translate(-50%, -50%);
transform: translate(-50%, -50%);
}

.blocked {
    pointer-events: none;
}



.next {
    font-size:36px;
    position: absolute;
    right:8%;
    bottom:5px;
}

.next-text {
  position: absolute;
  top: -15px;
  bottom: 45px;
  left: -5px;
  right: 15px;
  visibility: hidden;
  opacity: 0;
  font-size:16px;

  /* transition effect. not necessary */
  transition: opacity .2s, visibility .2s;
}

.next:hover .next-text {
  visibility: visible;
  opacity: 1;
}