.bg-search{
  min-height: 100vh;
  min-width: 100vh;
}


.form-group {
    margin-bottom: 30px;
}

.form-user-info{
  font-size: 20px;
  color: #a5a7a6;
}
.form-user-info label{
  margin: 10px;
  font-weight: 100;

}
.form-user-info ul{
list-style-type: none;
}

.form-user-info ul li{
  border-radius: 3px;
  margin: .3em;
  font-weight: 200;
  letter-spacing: 1px;
  background-color: #de9292;
  color: rgb(255, 255, 255);
  padding: 5px;
  font-size: 14px;
  text-align: center;
}

.btn-form{
  display: block;
  display: inline-block;
  padding: 6px 12px;
  margin: 15px 10px 10px 0;
  font-size: 24px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border-radius: 1px;
  color: white;
  background-color: #8bbfba;
  font-weight: 100;
  letter-spacing: 1px;
  border-width: 0;
  width: 260px;
}

.btn-form:hover{
  background-color: #6ca9a3;
}
a:focus, a:hover {
  color: #fff;
  text-decoration: none;
}

/* CHECKS STYLES: *******************************************/
.checkMenu > input{
  visibility: hidden;
  position: absolute;
}
.eachCheck{
	border-radius: 3px;
	margin: .3em;
	font-weight: 200;
	letter-spacing: 1px;
}

.checkMenu > input + .eachCheck {
  display: inline-block;
  padding: .5em;
  cursor:pointer;
  color: grey;
  transition: color 300ms ease-in-out, border 300ms ease-in-out;
}

.checkMenu > input:checked + .eachCheck {
	background-color: #de9292;
  color: rgb(255, 255, 255);
}


/* TEXTBOX STYLES: *******************************************/
.textBoxStyle {
	font-size: 150%;
    width: 25rem;
    padding: 10px 20px 0px 2px;
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid #d1d1d1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -ms-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    font-smoothing: antialiased;
    font-family: Helvetica Neue,Segoe UI,sans-serif;
    font-weight: 200;
		box-shadow: none;
		-webkit-box-shadow: none;
		border-radius: 0;
		transition: all 400ms ease;
}
.textBoxStyle:focus {
	border-radius: 0;
	outline: 0;
	box-shadow: none;
	-webkit-box-shadow: none;
	border-color: #888888;
}


/* CATEGORIES MENU *******************************************/

.filter-categories {
  display: block;
  width: 80%;
  margin: 0 auto;
  overflow: hidden;
  overflow-x: auto;
  padding: 20px;
  padding-bottom: 0;
	font-size: 13px;
	position: relative;
	background-color: #fff;
}

/* category buttons ****/
.category {
  transition: all 400ms ease;
  border-bottom: 4px solid transparent;
  display: inline-block;
  /* min-width: 18%; */
  cursor: pointer;
  text-align: center;
  text-transform: uppercase;
  padding: 3.8em 0em;
  /* background-color: antiquewhite; */
  transition: all 400ms ease;
  border: 2px solid #009688;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  margin: 10px;
  /* font-weight: 800; */
  letter-spacing: 1px;
  color: #009688;
  font-size: 16;
}

.category.active {
  border: 2px solid #de9292;
    color: #de9292;
}

ul .category p {
  margin-bottom: 0;
}


/* FILTERS SUBMENUS *******************************************/
.show-filters{
  width: 80%;
}

.filter-group {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  user-select: none;
  transition: all 400ms ease;
  position: absolute;
  top: 315px;
  z-index: 5;
  text-align: center;
  max-height: 300;
  background-color: #f5f5f5;
  padding: 2em 13em;
  width: 100%;
  box-sizing: border-box;
  border-radius: 4px;
  /* margin: auto;*/

}

.filter-group.active {
  opacity: 1;
  visibility: visible;
  pointer-events: inherit;
  user-select: auto;
}
.filter-group-title{
	font-size: 40px;
	margin:10px;
	width: 25rem;
	padding: 10px 20px 0px 2px;
	color: #d0d0c9;
	font-weight: 100;
}


/*RECIPE LIST *******************************************/

/*.output{
  opacity: 0.3;
}*/

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: stretch;
  align-items: center;
}

.flex-item {
  order: 0;
  flex: 0 1 auto;
  align-self: auto;
  width: 45%;
  background-color: #5f8c74;
  margin: 10px 10px;
}

/*
.recipe{
  background-color: #cde4de;
  margin: 50px 0;
  width: 100%;
  height: 27rem;
  padding: 2rem;
  border-radius: 3px;
}*/

img {
    vertical-align: middle;
    width: 100%;
}

.image {
  float: left;
  width: 100%;
  height: 300px;
  overflow: hidden;
  position:relative;
}

.img__description {
  position: absolute;
  top: 0;
  bottom: 50%;
  left: 50%;
  right: 50%;
  color: white;
  visibility: hidden;
  opacity: 0;

  /* transition effect. not necessary */
  transition: opacity .2s, visibility .2s;
}

.image:hover .img__description {
  visibility: visible;
  opacity: 1;
}

.image:hover .imagefordb {
  opacity:0.5;
}

.recipe-sup{
  height: 50px;
}
/*
.recipe-inf{
  height: 80px;
}*/

.recipe-info {
  padding: 10px 20px;
  border-width: 2px;
  float: left;
}
.recipe-title{
  font-size: 26px;
  width: 36rem;
  padding: 10px 0px;
  color: #ffffff;
  font-weight: 100;
  letter-spacing: 1px;
  float: left;
  width: 36rem;
  margin: 0 30px 0 0;
}
.recipe-rating {
  font-size: 80px;
  color: #f7a142;
  font-weight: 100;
  float: left;
}

.recipe-fav {
  padding: 10px 0px;
  float: left;
}

.recipe-ingredients{
  font-size: 16px;
  color: #accab6;
  font-weight: 200;
  letter-spacing: 1px;
  width: 340px;
  float: left;
  margin: 0 50px 0 0;
}



/********************************************************/

/*GENERAL *********************************************/

h1{
  color: #e4e4db;
  text-align: center;
  font-size: 4em;
  font-weight: 100;
  letter-spacing: 2px;
}
h2{
  color: #e4e4db;
  text-align: left;
  font-size: 3em;
  font-weight: 100;
  letter-spacing: 2px;
  margin-bottom: 30px;
}

h3 {
  color:#e4e4db;
}

hr {
  height: 1px;
  background-color: #8bbfba;
}

.white{
  border-color: #ffffff;
  background-color: rgba(255, 255, 255, 0.18);
}
.white-txt{
  color: rgb(255, 255, 255);
}

.main {
	padding-top: 50px;
}
.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	/* Set the fixed height of the footer here */
	height: 60px;
	background-color: #f5f5f5;
}

.footer > .container {
	padding-right: 15px;
	padding-left: 15px;
}

.container .text-muted {
	margin: 20px 0;
}

.login,
.signup,
.search{
	width: 420px;
	padding-top: 50px;
	margin: 0 auto;
}


/*ESTILOS BUSCADOR*/

.title {
	font-weight: bold;
	font-size: 1.3rem;
}
/*
.diet {
	background-color: #D6F6F6;
}*/


.form-filters .filter-group-title {
  margin: 0;
  padding: 0;
}


/*NAVBAR*/

.brand {
  text-shadow: 1px 1px 8px grey;
  font-size: 30px;
  color: white;
  font-weight: bold;

}

.nav-links:hover,
.brand:hover {
  color:#6a6b66;
  text-decoration: none;

}

.navbar {
  background-color: #f5f5f5;
  font-family: "Quicksand";
}

.container>.navbar-header {
    margin-top: 5px;
}

.navbar-drop-text {
  font-size: 18px;
  margin-right: 2px;

}

.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus { background-color: #e0c5cf; }


.nav-links {
  height: 62px;
  font-size: 18px;
  color: #96998b;
  font-weight: bold;

}

.icon-big {
  width:32px;
  margin-right: 3px;
}

.icon-small {
  width:20px;
  float: right;
}

.save-favourite,
.delete-favourite,
.delete {
  cursor: pointer;
}
