/*body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
*/
.main {
	padding-top: 50px;
}
.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	/* Set the fixed height of the footer here */
	height: 60px;
	background-color: #f5f5f5;
}

.footer > .container {
	padding-right: 15px;
	padding-left: 15px;
}

.container .text-muted {
	margin: 20px 0;
}

.login,
.signup {
	width: 380px;
	padding-top: 50px;
	margin: 0 auto;
}
