 
<h1>  Filters  </h1>
<form class="form-filters" action="index.html" method="post">

     <select class="year" name="year">
    </select>

    <select class= "genre" name="genre">
    </select>

    <div class="actor">
    <span class="name-actor"> </span> <span class="id"> </span>
    </div>

</form>
<form class="searches" action="index.html" method="post">

    <label for="keywords">Keywords:</label>
    <input id="keywords" type="text" name="keywords">

    <label for="cast">Cast:</label>
    <input id="cast" type="text" name="cast">

    <label for="director">Director:</label>
    <input id="director" type="text" name="director">

</form>

<div class="output">
    
</div>