<h1>  Filters  </h1>
<form class="form-filters" action="index.html" method="post">

    <div class="diet">
    </div>

    <div class="allergy">
    </div>

    <div class="cuisine">
    </div>

    <div class="course">
    </div>

    <label for="ingredients">Ingredients:</label>
    <input id="ingredients" type="text" name="ingredients">
    <div class="ingredient">
    </div>

</form>

<div class="output">
    
</div>
