
<div class="search">
  <div class="panel panel-default white">
    <div class="panel-body">
      <div class="panel-title"><a href="/classic"><h2 class="white">Try the classic search</h2></a></div>

      <!--<div class="panel-body">
      </div>-->
    </div>
  </div>

  <div class="panel panel-default white">
    <div class="panel-body">
      <div class="panel-title"><a href="/surprise"><h2>Let us suggest you</h2></a></div>
    </div>
  </div>

</div>
