


<div class="container-mio">

   <div class="blue-background">
   <div class="overlay">
   <img class="fondo" src="images/fft-backgroung.jpg" alt="">
   </div>
   <div class="site-information2 search">
     <div class="panel panel-default white">
       <div class="panel-body">
         <a href="/classic"><div class="panel-title"><h2 class="white-txt">Try the classic search</h2></div></a>

         <!--<div class="panel-body">
         </div>-->
       </div>
     </div>
     <div class="panel panel-default white">
       <div class="panel-body">
         <a href="/questions"><div class="panel-title"><h2  class="white-txt">Let us suggest for you</h2></div></a>
       </div>
     </div>

   </div>

   </div>

    </div>
