

<div class="login">
  <div class="panel panel-default">
    <div class="panel-heading"><a href="/classic">Try the classic search</a></div>
    <div class="panel-body">
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading"><a href="/questions">Let us suggest you</a></div>
    <div class="panel-body">
    </div>
  </div>

</div>
