<div class="background-darkener">
    
<div class="question question1"> 
    <div class="popup">
    <div class="title">Question 1 </div>
    <form> 
        <input type="radio" name="match" id="match_1" value="guy1"> 
		<label for="match_1"> R1 </label>

        <input type="radio" name="match" id="match_2" value="girl1"> 
		<label for="match_2"> R2 </label>
        
        <button class="next"> Next </button>
    </form>
    </div>
</div>

<div class="question question2"> 
    <div class="popup">
    <div class="title">Question 2 </div>
    <form> 
        <input type="radio" name="match" id="match_1" value="guy2"> 
		<label for="match_1"> R1 </label>

        <input type="radio" name="match" id="match_2" value="girl2"> 
		<label for="match_2"> R2 </label>

         <button class="next"> Next </button>
        
    </form>
    </div>
</div>

<div class="question question3"> 
    <div class="popup">
    <div class="title">Question 3 </div>
    <form> 
        <input type="radio" name="match" id="match_1" value="guy3"> 
		<label for="match_1"> R1 </label>

        <input type="radio" name="match" id="match_2" value="girl3"> 
		<label for="match_2"> R2 </label>

       <button class="next"> Next </button>
        
    </form>
    </div>
</div>

<div class="question question4"> 
    <div class="popup">
    <div class="title">Question 4 </div>
    <form> 
        <input type="radio" name="match" id="match_1" value="guy4"> 
		<label for="match_1"> R1 </label>

        <input type="radio" name="match" id="match_2" value="girl4"> 
		<label for="match_2"> R2 </label>

         <button class="next"> Next </button>
        
    </form>
    </div>
</div>

<div class="question question5"> 
    <div class="popup">
    <div class="title">Question 5 </div>
    <form> 
        <input type="radio" name="match" id="match_1" value="guy5"> 
		<label for="match_1"> R1 </label>

        <input type="radio" name="match" id="match_2" value="girl5"> 
		<label for="match_2"> R2 </label>

         <button class="next"> Next </button>
        
    </form>
    </div>
</div>
</div>

<div class="output"></div>